[Unit]
Description=MelvinOS Console Visualizer
After=multi-user.target melvind.service melvin-core.service
Wants=melvind.service melvin-core.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/melvin/melvinos
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/python3 /home/melvin/melvinos/melvin_visualizer_curses.py
Restart=always
RestartSec=5
StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target

